//------------------------------------------------------------------------------
// Default values

$breakpoints: (
    xxsm: 20.0625em, // 321px
    xsm: 30.0625em, // 481px
    sm: 40.0625em, // 641px
    md: 64.0625em, // 1025px
    lg: 85.438em, // 1367px
    xlg: 100.063em, // 1601px
) !default;

$tb-size-suffixes: (
    xxsm: -3,
    xsm: -2,
    sm: -1,
    normal: 0,
    md: 1,
    lg: 2,
    xlg: 3,
    xxlg: 4
) !default;

$_tb-paddings-margins: (
    margin: (
      // Base unit used to calculate modular scale
        vertical-base: 2rem,
        horizontal-base: 2rem,
      // Modular scale name for margin to use
        scale: 'major-sixth'
   ),
    padding: (
        vertical-base: 1em,
        horizontal-base: 1rem,
        scale: 'major-sixth'
   )
) !default;
