// Grid
// ############################################################################
// Grid
// ----------------------------------------------------------------------------

// ----------------------------------------------------------------------------
///
$tb_grid: (
    group:(
      // Toggles additional styles for nested groups
        nesting-toggle: true
    ),
    cells:(
      // List of Grid parts available: i.e. 12 part grid
        parts-available: (12)
    ),
  // Responsive gutters
    gutters: (
      //@fixme xsm is a name that can be changed need to use numbers or create
        base: tb-pd-h(xxsm),
        sm: tb-pd-h(sm),
        md: tb-pd-h(normal),
    ),
    order:(
      // Number of cells within a group that `order:` will be applied to
        yield: 12
    ),
) !default;

// ----------------------------------------------------------------------------
/// convert fractional (1 of 12) to percent
/// @param {List} $fractional
/// @return {Number} Percent
/// @since 0.1.0
@function tb-percent-of($fractional, $places:4) {
  @if length($fractional) {
    @return tb-round-decimal(percentage(nth($fractional, 1) / nth($fractional, 3)), $places);
  }
  @return null;
}

// ----------------------------------------------------------------------------
/// Returns map of grids ('6-12': 50%)
/// @since 0.1.0
/// @return {Map}
@function tb-make-grid-map() {
  $grid-list: ();

  @each $denominator in map-get-deep($tb_grid, cells, parts-available) {
    @for $numerator from 1 through $denominator {
      $grid-list: map-merge($grid-list, ('#{$numerator}-#{$denominator}': percentage($numerator / $denominator)));
    }
  }

  @return $grid-list;
}

// ----------------------------------------------------------------------------
///
$_grid-map: tb-make-grid-map();

// ----------------------------------------------------------------------------
///
@mixin group-support-old {
  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after { clear: both; }

  > * { float: left; }
}

// ----------------------------------------------------------------------------
///
@mixin tb-grid-gutters(
  $type: 'cell',
  $gutter-width-breakpoints: map-get-deep($tb_grid, gutters),
  $important: true
) {

  @each $bp, $value in $gutter-width-breakpoints {
    @include media('>#{$bp}') {
      @if 'cell' == $type {
        padding-left: $value;
        padding-right: $value;
      } //
      @else if 'group' == $type {
        margin-right: $value;
        margin-left: $value;
      } //
      @else if ('group-children') == $type {
        > * {
          padding-left: $value;
          padding-right: $value;
        }
      } //
      @else if 'group-nested' == $type {
        margin-right: $value * -1;
        margin-left: $value * -1;
      }
    }
  }
}

// ----------------------------------------------------------------------------
/// Group
// @todo Auto child to be removed and replaced with a default cell to be width 100%
@mixin tb-grid-group(
  $nesting-toggle: map-get-deep($tb_grid, nesting-toggle),
  $is-nested: false,
  $direction: row,
  $wrap: wrap,
  $gutter-width-breakpoints: map-get-deep($tb_grid, gutters),
  $support-old: false
) {
  display: flex;
  flex-wrap: $wrap;
  flex-direction: $direction;

  @if $support-old {
    @include group-support-old();
  }

  @if $is-nested {
    @include tb-grid-gutters('group-nested', $gutter-width-breakpoints, false);
  }

  //@if $nesting-toggle {
  //  #{&} {
  //    @include tb-grid-gutters('group-nested', $gutter-width-breakpoints, false);
  //  }
  //}
}

%group {
  @include tb-grid-group()
}

%group--column { flex-direction: column !important; }

%align-items--center { align-items: center; }

%align-items--flex-end { align-items: flex-end; }

%align-items--flex-start { align-items: flex-start; }

%justify-content--center { justify-content: center; }

%justify-content--space-around { justify-content: space-around; }

%justify-content--space-between { justify-content: space-between; }

%justify-content--flex-end { justify-content: flex-end; }

%justify-content--flex-start { justify-content: flex-start; }

%flex-grow--0 { flex-grow: 0 }

%flex-grow--1 { flex-grow: 1 }

%flex-shrink--0 { flex-shrink: 0 }

%flex-shrink--1 { flex-shrink: 1 }

// ----------------------------------------------------------------------------
//
@mixin tb-grid-cell(
  //
  // Cell Type
  $type: null,

  // Reordering Cells
  // Accepted: null, "first", "last", number
  $order: null,

  // Set !important
  // Accepted: true, false
  $important: false

) {

  @if $important {
    $important: ' !important';
  } @else {
    $important: null;
  }

  // todo bp specific args ie: (xxsm: 100%, sm: 2 of 3, lg: grow)
  @if 'map' == type-of($type) {
    @each $bp, $value in $type {
      @include media('>#{$bp}') {
        @include tb-grid-cell($value);
      }
    }
  }
    //
  @else {

    @if 3 == length($type) { $type: tb-percent-of($type); }

    @if 'number' == type-of($type) {
      //flex-grow: 0;
      //flex-shrink: 0;
      width: $type#{$important};
    }
      //
    @else if 'grow' == $type {
      flex-basis: auto !important;
      flex-shrink: 0;
      flex-grow: 1;
      width: auto#{$important};
      //max-width: 100%;
    }
      //
    @else if 'shrink' == $type {
      flex-basis: auto !important;
      flex-shrink: 1;
      flex-grow: 0;
      width: auto#{$important};
      //max-width: 100%;
    }

    @if $order != null {
      @include order-cell($order);
    }

  }
}

// ----------------------------------------------------------------------------
/// Enable cells within a group to be reordered
///
/// @param {Number} $yield [$cell-order-yield] Number of cells
///
/// @group grid
///
/// @example scss - Usage
///   .c1 { @include group-reorder(3); }
///
/// @example css - CSS output
///   .c1 > :nth-child(1) { order: 2; }
///   .c1 > :nth-child(2) { order: 4; }
///   .c1 > :nth-child(3) { order: 6; }
@mixin order-group($yield: map-get-deep($tb_grid, order, yield)) {
  @for $i from 1 through $yield {
    $order: $i * 2;

    > :nth-child(#{$i}) { order: $order; }

  }
}

// ----------------------------------------------------------------------------
/// Reorder cell
///
/// @param {Number | String} $yield [$cell-order-yield] Accepts: 'first', 'last', number
///
/// @group grid
///
/// @example scss - Usage
///   .c1 { @include cell-reorder(3); }
///
/// @example css - CSS output
///   .c1 { order: 7 !important; }
@mixin order-cell($order: null) {
  @if 'first' == $order {
    order: -999 !important;
  } //
  @else if 'last' == $order {
    order: 999 !important;
  } //
  @else if number == type-of($order) {
    order: (($order * 2) + 1) !important;
  }
}

// ----------------------------------------------------------------------------
/// Group breakpoints | used for memoization
$tb-group-bp-map: () !global;

// ----------------------------------------------------------------------------
/// Group Breakpoint Placeholders
///
@mixin group-bp($bp) {
  $name: 'group';

  @if map-get($tb-group-bp-map, $bp) {
    @extend %#{$bp}-%#{$name};
  } //
  @else {
    @at-root {
      @include media('>' + $bp) {
        %#{$bp}-%#{$name} {
          @include tb-grid-group();
        }
      }
    }

    @extend %#{$bp}-%#{$name};
    $tb-group-bp-map: tb-map-set-deep($tb-group-bp-map, $bp, '') !global;
  }
}

// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------
/// $tb-group--direction-map breakpoints | used for memoization
$tb-group--direction-map: () !global;

// ----------------------------------------------------------------------------
/// group--direction Breakpoint Placeholders
///
@mixin group--direction($bp, $value: 'row') {
  $name: 'group--direction';

  @if tb-map-get-deep($tb-group--direction-map, $bp $name) {
    @extend %#{$bp}-%#{$name};
  } //
  @else {
    @at-root {
      @include media('>' + $bp) {
        %#{$bp}-%#{$name} {
          flex-direction: unquote($value);
        }
      }
    }

    @extend %#{$bp}-%#{$name};
    $tb-group--direction-map: tb-map-set-deep($tb-group--direction-map, $bp, '') !global;
  }
}

// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------
/// $tb-group--align-items-map | used for memoization
$tb-group--align-items-map: () !global;

// ----------------------------------------------------------------------------
/// group--align-items Breakpoint Placeholders
///
@mixin group--align-items($bp, $value: 'flex-start') {
  $name: 'group--align-items';

  @if tb-map-get-deep($tb-group--align-items-map, $bp $name) {
    @extend %#{$bp}-%#{$name};
  } //
  @else {
    @at-root {
      @include media('>' + $bp) {
        %#{$bp}-%#{$name} {
          align-items: unquote($value);
        }
      }
    }

    @extend %#{$bp}-%#{$name};
    $tb-group--align-items-map: tb-map-set-deep($tb-group--align-items-map, $bp, '') !global;
  }
}

// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------
/// $tb-group--justify-content-map | used for memoization
$tb-group--justify-content-map: () !global;

// ----------------------------------------------------------------------------
/// group--justify-content Breakpoint Placeholders
///
@mixin group--justify-content($bp, $value: 'flex-start') {
  $name: 'group--justify-content';

  @if tb-map-get-deep($tb-group--justify-content-map, $bp $name) {
    @extend %#{$bp}-%#{$name};
  } //
  @else {
    @at-root {
      @include media('>' + $bp) {
        %#{$bp}-%#{$name} {
          justify-content: unquote($value);
        }
      }
    }

    @extend %#{$bp}-%#{$name};
    $tb-group--justify-content-map: tb-map-set-deep($tb-group--justify-content-map, $bp, '') !global;
  }
}

// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------
/// $tb-group--justify-content-map | used for memoization
$tb-group--grow-shrink-map: () !global;

// ----------------------------------------------------------------------------
/// group--justify-content Breakpoint Placeholders
///
@mixin group--grow-shrink($bp, $type, $value: 1) {
  $name: $type+'-'+$value;

  @if tb-map-get-deep($tb-group--grow-shrink-map, $bp $name) {
    @extend %#{$bp}-%#{$name};
  } //
  @else {
    @at-root {
      @include media('>' + $bp) {
        %#{$bp}-%#{$name} {
          @if 'grow' ==$type {
            flex-grow: $value;
          } @else if 'shrink' ==$type {
            flex-shrink: $value;
          }
        }
      }
    }

    @extend %#{$bp}-%#{$name};
    $tb-group--grow-shrink-map: tb-map-set-deep($tb-group--grow-shrink-map, $bp, '') !global;
  }
}

//  body {
//    @include group-bp('sm');
//    @include group--direction('sm');
//    @include group--align-items('md');
//    @include group--justify-content('md', 'center');
//    @include group--grow-shrink('md', 'shrink', 0);
//  }
//
//  a {
//    @include group-bp('sm');
//    @include group-bp('md');
//    @include group--align-items('md', 'center');
//    @include group--align-items('md', 'flex-end');
//    @include group--align-items('md');
//    @include group--justify-content('md', 'center');
//    @include group--grow-shrink('md', 'grow', 1);
//    @include group--grow-shrink('md', 'shrink', 1);
//    @include group--grow-shrink('md', 'shrink', 0);
//  }
